@font-face {
    font-family: 'CommuterSans';
    src: url('Dharma\ Type\ -\ Commuters\ Sans\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Dharma\ Type\ -\ Commuters\ Sans\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Dharma\ Type\ -\ Commuters\ Sans\ Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Dharma\ Type\ -\ Commuters\ Sans\ Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Fontfabric_-_Nexa_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
