@font-face {
    font-family: 'CommuterSans';
    src: url('Fontspring-DEMO-commuterssans-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Fontspring-DEMO-commuterssans-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Fontspring-DEMO-commuterssans-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CommuterSans';
    src: url('Fontspring-DEMO-commuterssans-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Fontfabric_-_Nexa_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
